appdirs==1.4.4
attrs==23.2.0
bcrypt==3.1.7
beautifulsoup4==4.10.0
blinker==1.7.0
certifi==2020.6.20
cffi==1.16.0
chardet==4.0.0
click==8.1.7
colorama==0.4.4
decorator==5.1.1
Deprecated==1.2.14
distro==1.7.0
Fabric3==1.14.post1
filelock==3.6.0
flasgger==0.9.7.1
Flask==2.1.0
Flask-Cors==4.0.0
Jinja2==3.1.2
paramiko==2.12.0
pep8==1.7.1
pymacaroons==0.13.0
requests==2.25.1
requests-file==1.5.1
webencodings==0.5.1
Werkzeug==2.1.1
wrapt==1.16.0
xdg==5
zipp==1.0.0
