* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.logo img {
  height: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #22223d;
  padding: 0 5px;
}
nav .navbar-links {
  list-style-type: none;
}
nav .navbar-links a {
  text-decoration: none;
  color: black;
}
nav .nav {
  visibility: hidden;
}

#landing {
  background-color: #22223d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  color: #ffffff;
}
#landing h2 {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: center;
}
#landing .banner {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#landing img {
  width: 100%;
  padding: 10px 20px;
}
#landing .cta {
  margin: 25px 0;
}
#landing .cta a {
  color: #000000;
  text-decoration: none;
  padding: 10px 30px;
  background-color: #b3e9c7;
  border-radius: 40px;
  font-size: 1rem;
}

#info {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}
#info h2 {
  font-size: 1.7rem;
  color: #0a1a44;
  font-weight: 300;
  margin-bottom: 15px;
}
#info p {
  color: #0a1a44;
  font-size: 1rem;
  margin-bottom: 15px;
}
#info img {
  padding: 10px;
  width: 100%;
}

#features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
}
#features h2 {
  font-size: 1.7rem;
  color: #0a1a44;
  font-weight: 300;
  margin-bottom: 15px;
}
#features p {
  color: #0a1a44;
  font-size: 1rem;
  margin-bottom: 15px;
}
#features .features-list {
  margin-top: 10px;
}
#features .ft-item {
  padding: 30px;
  height: 180px;
}
#features .ft-item-one {
  background-color: #22223d;
}
#features .ft-item-one p {
  color: #fff;
}
#features .ft-item-two {
  background-color: #778da9;
}
#features .ft-item-two p {
  color: #071332;
}
#features .ft-item-three {
  background-color: #acb7c3;
}
#features .ft-item-three p {
  color: #071332;
}
#features span {
  background-color: #b3e9c7;
  border-radius: 50%;
  padding: 1px 10px 3px;
}
#features .ft-item p {
  margin-top: 15px;
}
#features .cta {
  margin: 25px 0;
}
#features .cta a {
  color: #000000;
  text-decoration: none;
  padding: 10px 30px;
  background-color: #b3e9c7;
  border-radius: 40px;
  font-size: 1rem;
}

#about {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}
#about h2 {
  font-size: 1.7rem;
  color: #0a1a44;
  font-weight: 300;
  margin-bottom: 15px;
}

#footer {
  padding: 30px 20px;
  text-align: center;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
  #landing h2 {
    font-size: 2.1rem;
  }
  #landing img {
    padding: 10px 50px;
  }
  #landing .cta a {
    font-size: 1.2rem;
    padding: 10px 50px;
    margin-bottom: 30px;
  }
  #info {
    padding: 50px 60px 0;
  }
  #info img {
    padding: 30px;
  }
  #features {
    padding: 50px 60px 0;
  }
  #features img {
    padding: 50px;
  }
  #features .cta a {
    font-size: 1.2rem;
    padding: 10px 50px;
    margin: 50px 0;
  }
  #about {
    padding: 50px 60px 0;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 26px;
  }
  .logo img {
    height: 45px;
  }
  .nav {
    visibility: visible !important;
    width: 250px;
    padding: 5px 15px;
  }
  .navbar-links {
    display: flex !important;
    justify-content: space-between;
  }
  .navbar-links li a {
    color: #fff;
  }
  #landing {
    padding: 45px;
  }
  #landing img {
    padding: 20px 100px;
  }
  #landing .cta a {
    font-size: 1.2rem;
    padding: 10px 50px;
    margin-bottom: 30px;
  }
  #info {
    padding: 50px 80px 0;
  }
  #info img {
    padding: 50px 70px 30px;
  }
  #features {
    padding: 50px 80px 0;
  }
  #features img {
    padding: 50px 70px 30px;
  }
  #features .cta a {
    font-size: 1.2rem;
    padding: 10px 50px;
    margin: 50px 0;
  }
  #features .ft-container {
    margin-bottom: 20px;
  }
  #features .ft-item {
    height: 250px;
  }
  #features span {
    padding: 1px 15px 3px;
  }
  #about {
    padding: 50px 80px 0;
  }
  #about img {
    padding: 50px 70px 30px;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 32px;
  }
  #landing {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #landing h2 {
    text-align: left;
    justify-self: start;
  }
  #landing img {
    padding: 0;
  }
  #landing .cta a {
    justify-self: stretch;
    font-size: 0.7rem;
  }
}/*# sourceMappingURL=style.css.map */